<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="CSVFilepath" value="C:\Users\Adebayo Salami\Documents\Docs\testJobUpload.csv"/>
      <add key="EncryptionKEY" value="2AC47GB836DG5968JY7583UI3DWQ375GED74957PON37BV"/>
      <add key="ConnectionString" value="Server=ADEBAYO;Initial Catalog='UBNIssuance';User ID='sa';Password='connect123'"/>
      <add key="PortalConnectionString" value="Server=ADEBAYO;Initial Catalog='UBNPOTAL';User ID='sa';Password='connect123'"/>
      <add key="UserID" value="default"/>
      <add key="TotalCardsMigrated" value="default"/>
      <add key="SelectedCardProfileForCardGEN" value="default"/>
      <add key="SelectedBranchForCardGEN" value="default"/>
      <add key="SelectedCardProfileNameForCardGEN" value="default"/>
    </appSettings>
</configuration>